@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
    {var user = User.Identity.GetUserName();

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li style="vertical-align:middle; margin:auto" id="loginLink"><a href='@Url.Action("Index", "Manage")'>@($"Hello {user} !")</a></li>
            <li><a class="btn btn-outline-warning btn-lg" id="loginLink" role="button" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="btn btn-outline-warning btn-lg" id="loginLink" role="button" href='@Url.Action("Login", "Account")'>Log In</a></li>
        <li><a class="btn btn-outline-warning btn-lg" id="registerLink" role="button" href='@Url.Action("Register", "Account")'>Register</a></li>
    </ul>
}