@model Data.JobPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freelancer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freelancer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAwarded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAwarded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobPostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
